<div>
  <div class="row vh-100 justify-content-center align-items-center">
      <div class="col-md-6 vh-100 loginHeaderImage">
          <p style="bottom: 0;left: 2rem;position: absolute;" class="text-white">Copyright © 2020 All rights reserved</p>
      </div>
      <div class="col-md-6">
          <div class="card text-center mx-5">
            <h1>
              <img src="/assets/resources/images/logo.png" class="mr-3 pr-3 border-right align-self-center" alt="Logo" />
              <strong>Sistem Informasi Pengolahan Data</strong>
            </h1>
          </div>
          <div class="card boxContainer">
            <div class="text-dark text-center font-size-24 mb-4">
              <strong>Account Locked</strong>
            </div>
            <div class="text-center">
              <div class="kit__utils__avatar kit__utils__avatar--size64 d-inline-block mb-2">
                <img src="assets/images/avatars/2.jpg" alt="Mary Stanform" />
              </div>
              <div class="font-size-18 text-dark mb-4">
                <strong>Mary Stanform</strong>
              </div>
            </div>
            <form nz-form [nzLayout]="'vertical'">
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                  <input type="password" nz-input nzSize="large" placeholder="Password" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <button nz-button nzType="primary" [nzSize]="'large'" class="text-center w-100">
                    <strong>Unlock Account</strong>
                  </button>
                </nz-form-control>
              </nz-form-item>
            </form>
            <div class="text-center pt-2 mb-auto">
              <span class="mr-2">Already have an account?</span>
              <a routerLink="/auth/login" class="kit__utils__link font-size-16">
                Sign in
              </a>
            </div>
          </div>
      </div>
</div>
