<div class="topbar">
  <div class="row h-100 align-items-start">
    <div class="col-md-6 d-flex align-items-center">
        <div class="breadcrumbs">
          <div class="path">
            <a href routerLink="/">
              <span role="img" aria-label="home" class="anticon anticon-home text-primary">
                <svg viewBox="64 64 896 896" focusable="false" data-icon="home" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M946.5 505L534.6 93.4a31.93 31.93 0 00-45.2 0L77.5 505c-12 12-18.8 28.3-18.8 45.3 0 35.3 28.7 64 64 64h43.4V908c0 17.7 14.3 32 32 32H448V716h112v224h265.9c17.7 0 32-14.3 32-32V614.3h43.4c17 0 33.3-6.7 45.3-18.8 24.9-25 24.9-65.5-.1-90.5z"></path></svg>
              </span>
            </a>
            <ng-container *ngFor="let item of breadcrumbs; let last = last;">
              <span *ngIf="!last">
                <span class="arrow"></span>
                <span>{{ item.title }}</span>
              </span>
              <span *ngIf="last">
                <span class="arrow"></span>
                <strong class="current">{{ item.title }}</strong>
              </span>
            </ng-container>
          </div>
        </div>
    </div>

    <div class="col-md-6 d-flex align-items-center">
      <div class="d-block w-100 mt-2">
        <div class="d-flex align-items-start rounded py-2 px-3"  style="background-color: #F3F6FC;">
          <nz-input-group nzSize="large" class="extInput" [nzPrefix]="prefixIconSearch" style="background-color: #F3F6FC;border:none !important;align-items: flex-start;">
            <div *ngIf="inputValue" style="display: flex;flex-wrap: wrap;">
              <div *ngFor="let tag of inputValue; let i = index;">
                <nz-tag class="inputValue" nzMode="closeable" (nzOnClose)="removeTag(tag, i)" value="i" [nzColor]="'warning'">
                  {{ getTitleMap(tag) }}
                </nz-tag>
              </div>
            </div>
            <input nz-input nzBorderless placeholder="Search here..." (keydown.enter)="onInput($event)"
              style="background-color: #F3F6FC;" />
          </nz-input-group>
          <ng-template #prefixIconSearch>
            <i nz-icon nzType="search" class="extInputIcon" nzSize="large" style="color: rgba(0,0,0,.25)"></i>
          </ng-template>
        </div>
      </div>
    </div>


  </div>
</div>
<hr>
