@import 'src/app/components/mixins.scss';

//////////////////////////////////////////////////////////////////////////////////////////
/* LOGIN */

.boxContainer {
  padding: rem(50) rem(30);
}

.loginHeaderImage {
  background: url('/assets/resources/images/login-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

.style_loginHeader__rUjTV {
  padding: 1rem 2rem;
}
