<nz-table #filterTable [nzData]="listOfDisplayData" class="kit__utils__table mb-4">
  <thead (nzSortChange)="sort($event)">
    <tr>
      <th nzShowSort nzColumnKey="name" nzShowFilter [nzFilters]="listOfName"
        (nzFilterChange)="filter($event, searchAddress)">
        Name
      </th>
      <th nzShowSort nzColumnKey="age">Age</th>
      <th nzShowSort nzColumnKey="address" nzShowFilter [nzFilterMultiple]="false" [nzFilters]="listOfAddress"
        (nzFilterChange)="filter(listOfSearchName, $event)">
        Address
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of filterTable.data">
      <td>{{ data.name }}</td>
      <td>{{ data.age }}</td>
      <td>{{ data.address }}</td>
    </tr>
  </tbody>
</nz-table>

<kit-antd-table-reset-filter></kit-antd-table-reset-filter>
