<div class="topbar float-right" style="width:100%;">
  <div class="mr-4">
    <cui-topbar-language-switcher></cui-topbar-language-switcher>
  </div>
  <div class="mr-4">
    <cui-topbar-actions></cui-topbar-actions>
  </div>
  <div class="mr-4">
    <cui-topbar-fav-pages></cui-topbar-fav-pages>
  </div>
  <div>
    <cui-topbar-user-menu></cui-topbar-user-menu>
  </div>
</div>
