<div>
  <div class="row vh-100 justify-content-center align-items-center">
      <div class="col-md-6 vh-100 loginHeaderImage">
          <p style="bottom: 0;left: 2rem;position: absolute;" class="text-white">Copyright © 2020 All rights reserved</p>
      </div>
      <div class="col-md-6">
        <div class="card text-center mx-5">
          <h1>
            <img src="/assets/resources/images/logo.png" class="mr-3 pr-3 border-right align-self-center" alt="Logo" />
            <strong>Sistem Informasi Pengolahan Data</strong>
          </h1>
        </div>

          <div class="card boxContainer mx-5">
            <div class="text-dark font-size-24 mb-4">
              <strong>Create your account</strong>
            </div>
            <div class="mb-4">
              <p>
                And start spending more time on your projects and less time managing your
                infrastructure.
              </p>
            </div>
            <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()" role="form">
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Full Name!">
                  <input type="text" nz-input nzSize="large" formControlName="name" placeholder="Full Name" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Email!">
                  <input type="text" nz-input nzSize="large" formControlName="email" placeholder="Email Address" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your Password!">
                  <input type="password" nz-input nzSize="large" formControlName="password" placeholder="Password" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <button nz-button nzType="primary" [nzSize]="'large'" [nzLoading]="loading" class="text-center w-100">
                    <strong>Sign Up</strong>
                  </button>
                </nz-form-control>
              </nz-form-item>
            </form>
            <div>
              By signing up, you agree to the
              <a href="javascript: void(0);" class="kit__utils__link">
                Terms of Service
              </a>
              and
              <a href="javascript: void(0);" class="kit__utils__link">
                Privacy Policy
              </a>
            </div>
          </div>
          <div class="text-center pt-2 mb-auto">
            <span class="mr-2">Already have an account?</span>
            <a routerLink="/auth/login" class="kit__utils__link font-size-16">
              Sign in
            </a>
          </div>
      </div>
</div>
