<div>
    <div class="row vh-100 justify-content-center align-items-center">
        <div class="col-md-6 d-none d-md-block vh-100 loginHeaderImage">
            <p style="bottom: 0;left: 2rem;position: absolute;" class="text-white">Copyright © 2020 All rights reserved</p>
        </div>
        <div class="col-md-6">
            <div style="max-width: 38rem; width: 100%;" class="mx-auto">
                <div class="card text-center mx-1 mx-md-5 card style_loginHeader__rUjTV">
                  <div class="media">
                    <img src="/assets/resources/images/logo.png" class="mr-3 pr-3 border-right align-self-center" alt="Logo" />
                    <div class="media-body"><span class="text-dark font-size-18">Sistem Informasi Pengolahan Data</span></div>
                  </div>
                </div>

                <div class="card boxContainer mx-1 mx-md-5">
                  <div class="text-dark font-size-24 mb-3">
                    <strong>Welcome back,</strong>
                    <p class="font-size-16 text-gray-5">Please login using your email and password</p>
                  </div>
                  <form nz-form [nzLayout]="'vertical'" [formGroup]="form" (ngSubmit)="submitForm()" role="form">
                    <nz-form-item>
                      <nz-form-control nzErrorTip="Please input your email!">
                        <label for="username" class="ant-form-item-required" title="Email">Email</label>
                        <input type="text" nz-input formControlName="username" nzSize="large" placeholder="Email Address" />
                      </nz-form-control>
                    </nz-form-item>

                    <nz-form-item>
                      <label for="email" class="ant-form-item-required" title="Password">Password</label>
                      <nz-input-group [nzSuffix]="suffixTemplate" nzErrorTip="Please input your Password!">
                        <input [type]="passwordVisible ? 'text' : 'password'" nz-input nzSize="large" formControlName="password" placeholder="Password" />
                      </nz-input-group>
                    </nz-form-item>
                    <ng-template #suffixTemplate>
                      <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'" (click)="passwordVisible = !passwordVisible"></i>
                    </ng-template>

                    <label class="mb-4" (ngModelChange)="rememberMeCheck($event)" formControlName="rememberMe" nz-checkbox>Remember Me</label>

                    <nz-form-item>
                      <nz-form-control>
                        <button nz-button [nzSize]="'large'" [nzLoading]="loading" class="btn btn-warning text-center w-100">
                          <strong>Log In</strong>
                        </button>
                      </nz-form-control>
                    </nz-form-item>
                  </form>
                </div>
                <div class="text-center pt-2 mb-auto">
                  <span class="mr-2">Forgot Password?</span>
                  <a class="kit__utils__link font-size-16" href="/auth/forgot-password">Click here</a>
                </div>
            </div>
        </div>
    </div>
</div>
