@import '../../components/mixins';

.card {
  background-color: $white;
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(22, 22, 53, 0.16);
  margin-bottom: rem(15);
  padding: rem(5);
  min-height: rem(40);
  cursor: move;
}

.ant-table-pagination {
  width: 100%;
}

.loading {
  top: 1rem;
  position: fixed;
  text-align: center;
  left: 50%;
  border: 1px solid  rgba(22, 22, 53, 0.16);
  padding: 0.2rem;
  background-color: #f2f4f8 !important;
  border-radius: 0.3rem;
}

.ant-pagination-total-text {
  float:left;
}

.ant-btn-icon-only.ant-btn-lg {
  border: none;
}
.btnkey {
  color: #a1a1c2;
}

.loaderContainer {
  min-height: 60vh;
}

.content {
  padding: rem(15);
  // position: relative;
}

.search-box {
  min-width: 27.6px;
  pointer-events: auto;
  position: static;
}

.cardTitle {
  flex-basis: 80%;
}

.cardItem {
  transition: all .3s ease;
  transform: none;
  opacity: 1;

  .loading & {
    transform: translate3d(0, 50px, 0);
    opacity: .25;
  }
}

.flag {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background-color: $gray-3;
  height: 3px;
  width: 100%;
  border-radius: 2px 2px 0 0;
}

.emptyIcon {
  font-size: 24px;
  color: $primary;
  opacity: .35;
}

.emptyContainer {
  position: absolute;
  top: 0;
  left: 0;
}

.listWithEmpty {
  position: relative;
}


// dark theme
[data-kit-theme='dark'] {
  .card {
    background: $dark-gray-4;
  }
}

[data-kit-theme='default'] {
  .btn-delete {
    background-color: rgba(243, 98, 36, .05);
    color: rgba(243, 98, 36, .3);
    border-color: transparent;
  }
}

.btn-delete {
  background-color: rgba(243,98,36,.05);
  color: rgba(243,98,36,.3);
  border-color: transparent;
}

[data-kit-theme="default"] {
  .contain-tabs {
    flex: 3;
    width: 100%;

    :global(.ant-tabs-nav) {
      margin-bottom: 0;

      &:before {
        display: none;
      }
    }

    :global(.ant-tabs-tab) {
      padding: 0;

      :global(.ant-btn) {
        margin-left: 0 !important;
      }
    }

    .ant-tabs-ink-bar {
      display: none !important;
    }

    :global(.ant-tabs-ink-bar) {
      display: none;
    }
  }

  .contain-views {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}

@media (min-width: 768px) {
  [data-kit-theme="default"] {
    .contain-tabs {
      width: auto;
    }

    .contain-views {
      flex: 1;
    }
  }
}
