<div>
  <div class="row">
      <div class="col-md-8">
        <!-- download tabs here -->
        <div class="mb-3">
            <nz-tabset nzTabPosition="top">
                <nz-tab [nzTitle]="staticTemplate">
                  <ng-template #staticTemplate>
                    <button nz-button nzType="primary" (click)="buttonClick('create button')" class="ant-btn ant-btn-primary ant-btn-lg"><i nz-icon nzType="download"></i>Create New</button>
                  </ng-template>
                </nz-tab>
                <nz-tab [nzTitle]="dropdownTemplate">
                  <ng-template #dropdownTemplate>
                    <div class="d-inline-flex align-items-center">
                      <button type="button" class="ant-btn ant-btn-lg ml-3" *ngIf="layoutView == 'list' || layoutView == 'grid'" (click)="buttonClick('first download button')">
                        <span role="img" aria-label="download" class="anticon anticon-download">
                          <svg viewBox="64 64 896 896" focusable="false" data-icon="download" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                            <path d="M505.7 661a8 8 0 0012.6 0l112-141.7c4.1-5.2.4-12.9-6.3-12.9h-74.1V168c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v338.3H400c-6.7 0-10.4 7.7-6.3 12.9l112 141.8zM878 626h-60c-4.4 0-8 3.6-8 8v154H214V634c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v198c0 17.7 14.3 32 32 32h684c17.7 0 32-14.3 32-32V634c0-4.4-3.6-8-8-8z">
                            </path>
                          </svg>
                        </span>
                        <span>Download</span>
                      </button>

                      <button type="button" class="ant-btn ant-btn-lg ml-3" *ngIf="layoutView == 'list'" (click)="buttonClick('second download button')">
                          <span role="img" aria-label="download" class="anticon anticon-download">
                            <svg viewBox="64 64 896 896" focusable="false" data-icon="download" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                              <path d="M505.7 661a8 8 0 0012.6 0l112-141.7c4.1-5.2.4-12.9-6.3-12.9h-74.1V168c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v338.3H400c-6.7 0-10.4 7.7-6.3 12.9l112 141.8zM878 626h-60c-4.4 0-8 3.6-8 8v154H214V634c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v198c0 17.7 14.3 32 32 32h684c17.7 0 32-14.3 32-32V634c0-4.4-3.6-8-8-8z">
                              </path>
                            </svg>
                          </span>
                          <span>Download</span>
                      </button>

                      <button type="button" class="ant-btn ant-btn-lg ml-3" *ngIf="layoutView == 'list'" (click)="buttonClick('third download button')">
                        <span role="img" aria-label="download" class="anticon anticon-download">
                          <svg viewBox="64 64 896 896" focusable="false" data-icon="download" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                            <path d="M505.7 661a8 8 0 0012.6 0l112-141.7c4.1-5.2.4-12.9-6.3-12.9h-74.1V168c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v338.3H400c-6.7 0-10.4 7.7-6.3 12.9l112 141.8zM878 626h-60c-4.4 0-8 3.6-8 8v154H214V634c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v198c0 17.7 14.3 32 32 32h684c17.7 0 32-14.3 32-32V634c0-4.4-3.6-8-8-8z">
                            </path>
                          </svg>
                        </span>
                        <span>Download</span>
                      </button>

                      <button type="button" class="ant-btn ant-btn-lg ml-3" *ngIf="layoutView == 'list'" (click)="buttonClick('fourth download button')">
                        <span role="img" aria-label="download" class="anticon anticon-download">
                          <svg viewBox="64 64 896 896" focusable="false" data-icon="download" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                            <path d="M505.7 661a8 8 0 0012.6 0l112-141.7c4.1-5.2.4-12.9-6.3-12.9h-74.1V168c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v338.3H400c-6.7 0-10.4 7.7-6.3 12.9l112 141.8zM878 626h-60c-4.4 0-8 3.6-8 8v154H214V634c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v198c0 17.7 14.3 32 32 32h684c17.7 0 32-14.3 32-32V634c0-4.4-3.6-8-8-8z">
                            </path>
                          </svg>
                        </span>
                        <span>Download</span>
                      </button>

                      <button type="button" class="ant-btn ant-btn-lg ml-3" *ngIf="layoutView == 'list'" (click)="buttonClick('fifth download button')">
                        <span role="img" aria-label="download" class="anticon anticon-download">
                          <svg viewBox="64 64 896 896" focusable="false" data-icon="download" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                            <path d="M505.7 661a8 8 0 0012.6 0l112-141.7c4.1-5.2.4-12.9-6.3-12.9h-74.1V168c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v338.3H400c-6.7 0-10.4 7.7-6.3 12.9l112 141.8zM878 626h-60c-4.4 0-8 3.6-8 8v154H214V634c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v198c0 17.7 14.3 32 32 32h684c17.7 0 32-14.3 32-32V634c0-4.4-3.6-8-8-8z">
                            </path>
                          </svg>
                        </span>
                        <span>Download</span>
                      </button>

                      <button type="button" class="ant-btn ant-btn-lg ml-3" *ngIf="layoutView == 'list'" (click)="buttonClick('sixth download button')">
                        <span role="img" aria-label="download" class="anticon anticon-download">
                          <svg viewBox="64 64 896 896" focusable="false" data-icon="download" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                            <path d="M505.7 661a8 8 0 0012.6 0l112-141.7c4.1-5.2.4-12.9-6.3-12.9h-74.1V168c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v338.3H400c-6.7 0-10.4 7.7-6.3 12.9l112 141.8zM878 626h-60c-4.4 0-8 3.6-8 8v154H214V634c0-4.4-3.6-8-8-8h-60c-4.4 0-8 3.6-8 8v198c0 17.7 14.3 32 32 32h684c17.7 0 32-14.3 32-32V634c0-4.4-3.6-8-8-8z">
                            </path>
                          </svg>
                        </span>
                        <span>Download</span>
                      </button>

                    </div>
                  </ng-template>
                </nz-tab>
            </nz-tabset>
        </div>
        <!-- download tabs here -->
      </div>
      <div class="col-md-4 text-right">
        <!-- grid/todo links here -->
          <div *ngIf="layoutView == 'grid'" style="display:inline;">
            <nz-select ngModel="Status" class="text-left mr-2" style="width:120px;">
                <nz-option nzValue="offering" nzLabel="Offering"></nz-option>
                <nz-option nzValue="offering_approved" nzLabel="Approved"></nz-option>
                <nz-option nzValue="project_in_progress" nzLabel="In Progress"></nz-option>
                <nz-option nzValue="bast_done" nzLabel="Done"></nz-option>
            </nz-select>
          </div>

          <button (click)="changeLayoutView('list')" [ngClass]="layoutView == 'list' ? 'active' : ''" class="btnkey ant-btn ant-btn-link ant-btn-lg ant-btn-icon-only">
            <span class="icmn-list"></span>
          </button>
          <button (click)="changeLayoutView('grid')" [ngClass]="layoutView == 'grid' ? 'active' : ''" class="btnkey ant-btn ant-btn-link ant-btn-lg ant-btn-icon-only">
            <span class="fa fa-th-large"></span>
          </button>
          <button (click)="changeLayoutView('kanban')" [ngClass]="layoutView == 'kanban' ? 'active' : ''" class="btnkey ant-btn ant-btn-link ant-btn-lg ant-btn-icon-only">
            <span class="icmn-trello"></span>
          </button>
          <button (click)="changeLayoutView('reload')" class="ant-btn ant-btn-primary ant-btn-lg ant-btn-icon-only ml-3">
            <span role="img" aria-label="reload" class="anticon anticon-reload">
              <svg viewBox="64 64 896 896" focusable="false" class="" data-icon="reload" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                <path d="M909.1 209.3l-56.4 44.1C775.8 155.1 656.2 92 521.9 92 290 92 102.3 279.5 102 511.5 101.7 743.7 289.8 932 521.9 932c181.3 0 335.8-115 394.6-276.1 1.5-4.2-.7-8.9-4.9-10.3l-56.7-19.5a8 8 0 00-10.1 4.8c-1.8 5-3.8 10-5.9 14.9-17.3 41-42.1 77.8-73.7 109.4A344.77 344.77 0 01655.9 829c-42.3 17.9-87.4 27-133.8 27-46.5 0-91.5-9.1-133.8-27A341.5 341.5 0 01279 755.2a342.16 342.16 0 01-73.7-109.4c-17.9-42.4-27-87.4-27-133.9s9.1-91.5 27-133.9c17.3-41 42.1-77.8 73.7-109.4 31.6-31.6 68.4-56.4 109.3-73.8 42.3-17.9 87.4-27 133.8-27 46.5 0 91.5 9.1 133.8 27a341.5 341.5 0 01109.3 73.8c9.9 9.9 19.2 20.4 27.8 31.4l-60.2 47a8 8 0 003 14.1l175.6 43c5 1.2 9.9-2.6 9.9-7.7l.8-180.9c-.1-6.6-7.8-10.3-13-6.2z"></path>
              </svg>
            </span>
          </button>
        <!-- grid/todo links here -->
      </div>
  </div>

  <nz-spin [nzSpinning]="isSpinning" nzTip="Loading..." [nzDelay]="500">

    <div *ngIf="layoutView == 'list'">
        <div class="mt-4">
          <ng-template #rangeTemplate let-range="range" let-total>Display {{ range[1] }} of {{ totalPages }} items </ng-template>
          <nz-table
            #rowSelectionTable
            #filterTable
            nzShowSizeChanger
            (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
            (nzPageIndexChange)="onPageIndexChange($event)"
            [nzTotal]="totalPages"
            [nzData]="listOfData" class="kit__utils__table mb-4"
            [nzPageSizeOptions]="[5, 10, 20, 30, 40]"
            [nzPageSize]="limit"
            [nzPageIndex]="page"
            [nzFrontPagination]="false"
            [nzShowPagination]="true"
            [nzShowTotal]="rangeTemplate">
            <thead>
              <tr>
                <th
                    [nzSelections]="listOfSelection"
                    [(nzChecked)]="checked"
                    [nzIndeterminate]="indeterminate"
                    (nzCheckedChange)="onAllChecked($event)"
                ></th>
                <th>#</th>
                <th *ngFor="let column of listOfColumns; let i = index;">
                  {{ column.name }}

                  <nz-filter-trigger [nzActive]="searchValue.length > 0" [nzDropdownMenu]="menu">
                    <i nz-icon nzType="caret-down"></i>
                  </nz-filter-trigger>

                  <!-- filter fields -->
                  <nz-dropdown-menu #menu="nzDropdownMenu">
                    <form nz-form [formGroup]="filterForm" (ngSubmit)="search(column.real_name)">
                      <div class="card search-box p-2">
                        <nz-form-item class="mb-2">
                          <nz-form-control nzErrorTip="Please add a keyword">
                            <label for="formInput" class="ant-form-item-required">Search By {{ column.name }}</label>
                            <input id="formInput" type="text" nz-input formControlName="formInput" placeholder="Type here..." />
                          </nz-form-control>
                        </nz-form-item>

                        <div class="mb-2">
                          <label for="sort">Sort Order</label> <br>
                          <nz-select ngModel="none" formControlName="formSort" selectedValue="none" class="text-left mr-2" style="width:100%;">
                              <nz-option nzValue="none" nzLabel="None"></nz-option>
                              <nz-option nzValue="asc" nzLabel="Ascending"></nz-option>
                              <nz-option nzValue="desc" nzLabel="Descending"></nz-option>
                          </nz-select>
                        </div>

                        <div class="mb-2">
                          <label for="op">Filter Column</label> <br>
                          <nz-select ngModel="contains" formControlName="formColumn" class="text-left mr-2" style="width:100%;">
                              <nz-option nzValue="contains" nzLabel="Contains"></nz-option>
                              <nz-option nzValue="like" nzLabel="Like"></nz-option>
                          </nz-select>
                        </div>
                        <button type="submit" class="btn btn-warning w-100 mt-2"><i class="fe fe-search"></i> Search</button>
                      </div>
                    </form>
                  </nz-dropdown-menu>
                  <!-- filter fields -->
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of filterTable.data">
                <td [nzChecked]="setOfCheckedId.has(data.guid)" (nzCheckedChange)="onItemChecked(data.guid, $event)"></td>
                <td (click)="markerClick(data.ticket_number)">
                  <span role="img" aria-label="info-circle" class="anticon anticon-info-circle text-warning"><svg viewBox="64 64 896 896" focusable="false" data-icon="info-circle" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M512 64C264.6 64 64 264.6 64 512s200.6 448 448 448 448-200.6 448-448S759.4 64 512 64zm32 664c0 4.4-3.6 8-8 8h-48c-4.4 0-8-3.6-8-8V456c0-4.4 3.6-8 8-8h48c4.4 0 8 3.6 8 8v272zm-32-344a48.01 48.01 0 010-96 48.01 48.01 0 010 96z"></path></svg></span>
                </td>
                <td>{{ data.ticket_number }}</td>
                <td>
                  <span [ngClass]="data.status_name === 'In Progress' ? 'badge-warning' : '' || data.status_name === 'Open' ? 'badge-primary' : '' || data.status_name === 'Done' ? 'badge-success' : '' || data.status_name === 'Backlog' ? 'badge-danger' : ''" class="font-size-12 badge badge-pill">{{ data.status_name }}</span>
                </td>
                <td>{{ data.name }}</td>
                <td>{{ data.created_by_full_name }}</td>
                <td>{{ data.receive_time }}</td>
                <td>{{ data.response_time }}</td>
                <td>{{ data.resolution_time }}</td>
              </tr>
            </tbody>
          </nz-table>

        </div>
    </div>

    <div *ngIf="layoutView == 'grid'">
      <div class="row">
        <!-- backlog -->
        <div class="col-lg-3 col-md-6">
          <div infiniteScroll (scrolled)="onScrollBacklog()" style="min-height: 500px;">
            <div *ngIf="listBacklogs.data.length > 0; else noItem">
              <div *ngFor="let item of listBacklogs.data">
                <div class="card">
                  <div class="content">
                    <div class="flag" [ngClass]="displayDynamicColour(item.status_name)"></div>
                    <div class="d-flex flex-wrap-reverse align-items-end justify-content-between">
                      <div class="cardTitle">
                        <h5 class="text-dark font-size-18 mt-2 mr-auto">{{item.name}} {{item.ticket_number}}</h5>
                        <div class="text-gray-5 mb-2">0 of 0 items</div>
                      </div>
                      <div class="mt-2">
                        <button type="button" class="ant-btn ant-btn-circle ant-btn-lg ant-btn-icon-only btn-delete">
                        <span role="img" aria-label="delete" class="anticon anticon-delete">
                          <i nz-icon nzType="delete" nzTheme="fill"></i>
                        </span>
                        </button>
                      </div>
                    </div>
                    <div class="d-flex align-items-center flex-wrap pb-2">
                      <div class="text-gray-5 text-center w-100 py-2 mt-4">
                        <span>Data not found</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #noItem>
              <div *ngIf="!listBacklogs.loading" class="listWithEmpty">
                <div class="w-100 align-items-center d-flex flex-column card p-4">
                  <i class="fe fe-inbox"></i>
                  <p class="mt-2">This is currently empty</p>
                </div>
              </div>
            </ng-template>
            <p *ngIf="listBacklogs.loading">Loading...</p>
          </div>
        </div>
        <!-- open -->
        <div class="col-lg-3 col-md-6">
          <div infiniteScroll (scrolled)="onScrollOpen()" style="min-height: 500px;">
            <div *ngIf="listOpen.data.length > 0; else noItem">
              <div *ngFor="let item of listOpen.data">
                <div class="card">
                  <div class="content">
                    <div class="flag" [ngClass]="displayDynamicColour(item.status_name)"></div>
                    <div class="d-flex flex-wrap-reverse align-items-end justify-content-between">
                      <div class="cardTitle">
                        <h5 class="text-dark font-size-18 mt-2 mr-auto">{{item.name}} {{item.ticket_number}}</h5>
                        <div class="text-gray-5 mb-2">0 of 0 items</div>
                      </div>
                      <div class="mt-2">
                        <button type="button" class="ant-btn ant-btn-circle ant-btn-lg ant-btn-icon-only btn-delete">
                        <span role="img" aria-label="delete" class="anticon anticon-delete">
                          <i nz-icon nzType="delete" nzTheme="fill"></i>
                        </span>
                        </button>
                      </div>
                    </div>
                    <div class="d-flex align-items-center flex-wrap pb-2">
                      <div class="text-gray-5 text-center w-100 py-2 mt-4">
                        <span>Data not found</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #noItem>
              <div *ngIf="!listOpen.loading" class="listWithEmpty">
                <div class="w-100 align-items-center d-flex flex-column card p-4">
                  <i class="fe fe-inbox"></i>
                  <p class="mt-2">This is currently empty</p>
                </div>
              </div>
            </ng-template>
            <p *ngIf="listOpen.loading">Loading...</p>
          </div>
        </div>
        <!-- in progress -->
        <div class="col-lg-3 col-md-6">
          <div infiniteScroll (scrolled)="onScrollProgresses()" style="min-height: 500px;">
            <div *ngIf="listInProgress.data.length > 0; else noItem">
              <div *ngFor="let item of listInProgress.data">
                <div class="card">
                  <div class="content">
                    <div class="flag" [ngClass]="displayDynamicColour(item.status_name)"></div>
                    <div class="d-flex flex-wrap-reverse align-items-end justify-content-between">
                      <div class="cardTitle">
                        <h5 class="text-dark font-size-18 mt-2 mr-auto">{{item.name}} {{item.ticket_number}}</h5>
                        <div class="text-gray-5 mb-2">0 of 0 items</div>
                      </div>
                      <div class="mt-2">
                        <button type="button" class="ant-btn ant-btn-circle ant-btn-lg ant-btn-icon-only btn-delete">
                        <span role="img" aria-label="delete" class="anticon anticon-delete">
                          <i nz-icon nzType="delete" nzTheme="fill"></i>
                        </span>
                        </button>
                      </div>
                    </div>
                    <div class="d-flex align-items-center flex-wrap pb-2">
                      <div class="text-gray-5 text-center w-100 py-2 mt-4">
                        <span>Data not found</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #noItem>
              <div *ngIf="!listInProgress.loading" class="listWithEmpty">
                <div class="w-100 align-items-center d-flex flex-column card p-4">
                  <i class="fe fe-inbox"></i>
                  <p class="mt-2">This is currently empty</p>
                </div>
              </div>
            </ng-template>
            <p *ngIf="listInProgress.loading">Loading...</p>
          </div>
        </div>
        <!-- done -->
        <div class="col-lg-3 col-md-6">
          <div infiniteScroll (scrolled)="onScrollDone()" style="min-height: 500px;">
            <div *ngIf="listDone.data.length > 0; else noItem">
              <div *ngFor="let item of listDone.data">
                <div class="card">
                  <div class="content">
                    <div class="flag" [ngClass]="displayDynamicColour(item.status_name)"></div>
                    <div class="d-flex flex-wrap-reverse align-items-end justify-content-between">
                      <div class="cardTitle">
                        <h5 class="text-dark font-size-18 mt-2 mr-auto">{{item.name}} {{item.ticket_number}}</h5>
                        <div class="text-gray-5 mb-2">0 of 0 items</div>
                      </div>
                      <div class="mt-2">
                        <button type="button" class="ant-btn ant-btn-circle ant-btn-lg ant-btn-icon-only btn-delete">
                        <span role="img" aria-label="delete" class="anticon anticon-delete">
                          <i nz-icon nzType="delete" nzTheme="fill"></i>
                        </span>
                        </button>
                      </div>
                    </div>
                    <div class="d-flex align-items-center flex-wrap pb-2">
                      <div class="text-gray-5 text-center w-100 py-2 mt-4">
                        <span>Data not found</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <ng-template #noItem>
              <div *ngIf="!listDone.loading" class="listWithEmpty">
                <div class="w-100 align-items-center d-flex flex-column card p-4">
                  <i class="fe fe-inbox"></i>
                  <p class="mt-2">This is currently empty</p>
                </div>
              </div>
            </ng-template>
            <p *ngIf="listDone.loading">Loading...</p>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="layoutView == 'kanban'">
      <div class="row">
        <!-- backlog -->
        <div class="col-lg-3 col-md-6">
          <div class="card bg-light py-3 px-2">
            <h3 class="font-weight-bold text-dark font-size-18 mb-3">Backlog
              <div style="display: inline-block;float: right;">
                <a nz-dropdown [nzDropdownMenu]="kanban1"><i nz-icon nzType="dash" nzTheme="outline"></i></a>
                <nz-dropdown-menu #kanban1="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li nz-menu-item>Action</li>
                    <li nz-menu-item>Another action</li>
                    <li nz-menu-item>Something else here</li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item nzDanger>Separated link</li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </h3>

            <div infiniteScroll (scrolled)="onScrollBacklog()">
              <div [sortablejs]="listBacklogs.data" [sortablejsOptions]="options" style="min-height: 500px;">
                <div *ngFor="let item of listBacklogs.data">
                  <div class="card py-3 px-4" *ngIf="item.status_name === 'Backlog'">
                    <div class="content">
                      <div class="d-flex flex-wrap-reverse">
                        <div *ngFor="let color of lineColors" class="px-2">
                          <span [ngClass]="[color]" style="width: 30px;height: 4px;border-radius: 2px;" class="d-inline-block">&nbsp;</span>
                        </div>
                      </div>
                      <div class="d-flex flex-wrap-reverse align-items-center">
                        <h5 class="text-dark font-size-18 mt-2 mr-auto">{{item.name}} {{item.ticket_number}}</h5>
                      </div>
                      <div class="text-gray-5 mb-2">Deadline 2020-11-10 08:00:00/2020-11-10 08:00:00</div>
                      <div class="d-flex align-items-center flex-wrap pb-2">
                        <div
                          class="kit__utils__avatar kit__utils__avatar--rounded kit__utils__avatar--size27 flex-shrink-0 mr-2">
                          <img src="assets/images/avatars/2.jpg" alt="User" />
                        </div>
                        <div
                          class="kit__utils__avatar kit__utils__avatar--rounded kit__utils__avatar--size27 flex-shrink-0 mr-2">
                          <img src="assets/images/avatars/1.jpg" alt="User" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-block">
              <i class="fe fe-plus d-inline-block mr-2"></i>
              Add new card
            </button>
          </div>
        </div>
        <!-- open -->
        <div class="col-lg-3 col-md-6">
          <div class="card bg-light py-3 px-2">
            <h3 class="font-weight-bold text-dark font-size-18 mb-3">To Do
              <div style="display: inline-block;float: right;">
                <a nz-dropdown [nzDropdownMenu]="kanban2"><i nz-icon nzType="dash" nzTheme="outline"></i></a>
                <nz-dropdown-menu #kanban2="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li nz-menu-item>Action</li>
                    <li nz-menu-item>Another action</li>
                    <li nz-menu-item>Something else here</li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item nzDanger>Separated link</li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </h3>

            <div infiniteScroll (scrolled)="onScrollOpen()">
              <div [sortablejs]="listOpen.data" [sortablejsOptions]="options" style="min-height: 500px;">
                <div *ngFor="let item of listOpen.data">
                  <div class="card py-3 px-4" *ngIf="item.status_name === 'Open'">
                    <div class="content">
                      <div class="d-flex flex-wrap-reverse">
                        <div class="px-2">
                          <span [ngClass]="displayDynamicColour(item.status_name)" style="width: 30px;height: 4px;border-radius: 2px;" class="d-inline-block">&nbsp;</span>
                        </div>
                      </div>
                      <div class="d-flex flex-wrap-reverse align-items-center">
                        <h5 class="text-dark font-size-18 mt-2 mr-auto">{{item.name}} {{item.ticket_number}}</h5>
                      </div>
                      <div class="text-gray-5 mb-2">Deadline 2020-11-10 08:00:00/2020-11-10 08:00:00</div>
                      <div class="d-flex align-items-center flex-wrap pb-2">
                        <div
                          class="kit__utils__avatar kit__utils__avatar--rounded kit__utils__avatar--size27 flex-shrink-0 mr-2">
                          <img src="assets/images/avatars/5.jpg" alt="User" />
                        </div>
                        <div class="kit__utils__avatar kit__utils__avatar--rounded kit__utils__avatar--size27 flex-shrink-0 mr-2">
                          <span style="width: 28px; height: 28px; line-height: 28px; font-size: 18px; color: rgb(255, 255, 255); background-color: rgb(155, 81, 224);" class="ant-avatar ant-avatar-circle">
                            <span class="ant-avatar-string" style="line-height: 28px; transform: scale(1) translateX(-50%);">SR</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-block">
              <i class="fe fe-plus d-inline-block mr-2"></i>
              Add new card
            </button>
          </div>
        </div>
        <!-- in progress -->
        <div class="col-lg-3 col-md-6">
          <div class="card bg-light py-3 px-2">
            <h3 class="font-weight-bold text-dark font-size-18 mb-3">In Progress
              <div style="display: inline-block;float: right;">
                <a nz-dropdown [nzDropdownMenu]="kanban3"><i nz-icon nzType="dash" nzTheme="outline"></i></a>
                <nz-dropdown-menu #kanban3="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li nz-menu-item>Action</li>
                    <li nz-menu-item>Another action</li>
                    <li nz-menu-item>Something else here</li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item nzDanger>Separated link</li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </h3>

            <div infiniteScroll (scrolled)="onScrollProgresses()">
              <div [sortablejs]="listInProgress.data" [sortablejsOptions]="options" style="min-height: 500px;">
                <div *ngFor="let item of listInProgress.data">
                  <div class="card py-3 px-4" *ngIf="item.status_name === 'In Progress'">
                    <div class="content">
                      <div class="d-flex flex-wrap-reverse">
                        <div class="px-2">
                          <span [ngClass]="displayDynamicColour(item.status_name)" style="width: 30px;height: 4px;border-radius: 2px;" class="d-inline-block">&nbsp;</span>
                        </div>
                      </div>
                      <div class="d-flex flex-wrap-reverse align-items-center">
                        <h5 class="text-dark font-size-18 mt-2 mr-auto">{{item.name}} {{item.ticket_number}}</h5>
                      </div>
                      <div class="text-gray-5 mb-2">Deadline 2020-11-10 08:00:00/2020-11-10 08:00:00</div>
                      <div class="d-flex align-items-center flex-wrap pb-2">
                        <div class="d-flex align-items-center flex-wrap pb-2">
                          <div
                            class="kit__utils__avatar kit__utils__avatar--rounded kit__utils__avatar--size27 flex-shrink-0 mr-2">
                            <img src="assets/images/avatars/1.jpg" alt="User" />
                          </div>
                          <div
                            class="kit__utils__avatar kit__utils__avatar--rounded kit__utils__avatar--size27 flex-shrink-0 mr-2">
                            <img src="assets/images/avatars/3.jpg" alt="User" />
                          </div>
                          <div
                            class="kit__utils__avatar kit__utils__avatar--rounded kit__utils__avatar--size27 flex-shrink-0 mr-2">
                            <img src="assets/images/avatars/5.jpg" alt="User" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-block">
              <i class="fe fe-plus d-inline-block mr-2"></i>
              Add new card
            </button>
          </div>
        </div>
        <!-- done -->
        <div class="col-lg-3 col-md-6">
          <div class="card bg-light py-3 px-2">
            <h3 class="font-weight-bold text-dark font-size-18 mb-3">Completed
              <div style="display: inline-block;float: right;">
                <a nz-dropdown [nzDropdownMenu]="kanban4"><i nz-icon nzType="dash" nzTheme="outline"></i></a>
                <nz-dropdown-menu #kanban4="nzDropdownMenu">
                  <ul nz-menu nzSelectable>
                    <li nz-menu-item>Action</li>
                    <li nz-menu-item>Another action</li>
                    <li nz-menu-item>Something else here</li>
                    <li nz-menu-divider></li>
                    <li nz-menu-item nzDanger>Separated link</li>
                  </ul>
                </nz-dropdown-menu>
              </div>
            </h3>

            <div infiniteScroll (scrolled)="onScrollDone()">
              <div [sortablejs]="listDone.data" [sortablejsOptions]="options" style="min-height: 500px;">
                <div *ngFor="let item of listDone.data">
                  <div class="card py-3 px-4" *ngIf="item.status_name === 'Done'">
                    <div class="content">
                      <div class="d-flex flex-wrap-reverse">
                        <div class="px-2">
                          <span [ngClass]="displayDynamicColour(item.status_name)" style="width: 30px;height: 4px;border-radius: 2px;" class="d-inline-block">&nbsp;</span>
                        </div>
                      </div>
                      <div class="d-flex flex-wrap-reverse align-items-center">
                        <h5 class="text-dark font-size-18 mt-2 mr-auto">{{item.ticket_number}}</h5>
                      </div>
                      <div class="text-gray-5 mb-2">Deadline 2020-11-10 08:00:00/2020-11-10 08:00:00</div>
                      <div class="d-flex align-items-center flex-wrap pb-2">
                        <div
                          class="kit__utils__avatar kit__utils__avatar--rounded kit__utils__avatar--size27 flex-shrink-0 mr-2">
                          <img src="assets/images/avatars/2.jpg" alt="User" />
                        </div>
                        <div
                          class="kit__utils__avatar kit__utils__avatar--rounded kit__utils__avatar--size27 flex-shrink-0 mr-2">
                          <img src="assets/images/avatars/1.jpg" alt="User" />
                        </div>
                        <div
                          class="kit__utils__avatar kit__utils__avatar--rounded kit__utils__avatar--size27 flex-shrink-0 mr-2">
                          <img src="assets/images/avatars/3.jpg" alt="User" />
                        </div>
                        <div
                          class="kit__utils__avatar kit__utils__avatar--rounded kit__utils__avatar--size27 flex-shrink-0 mr-2">
                          <img src="assets/images/avatars/5.jpg" alt="User" />
                        </div>
                        <div class="kit__utils__avatar kit__utils__avatar--rounded kit__utils__avatar--size27 flex-shrink-0 mr-2">
                          <span style="width: 28px; height: 28px; line-height: 28px; font-size: 18px; color: rgb(255, 255, 255); background-color: rgb(155, 81, 224);" class="ant-avatar ant-avatar-circle">
                            <span class="ant-avatar-string" style="line-height: 28px; transform: scale(1) translateX(-50%);">SR</span>
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" class="btn btn-primary btn-block">
              <i class="fe fe-plus d-inline-block mr-2"></i>
              Add new card
            </button>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="loading">
      <div class="loading">
        Loading...
      </div>
    </div>

  </nz-spin>
</div>
