@import 'src/app/components/mixins.scss';

.cdk-overlay-pane {
  width: 90% !important;
  margin: 0 auto;
  position: static;
  margin-top: 60px;
}
::ng-deep {
  .myMenu {
    min-width: 200px!important;
  }
  .myMenu.mega-menu {
    display: flex !important;
    min-width: 850px !important;
    max-width: 1300px !important;
    padding-right: 1rem !important;
  }
  .subtitle {
    font-size: rem(15);
  }
}

.childIcon {
    margin-top: 1rem !important;
    float: left;
    width: 2.8rem;
    height: 2.8rem;
    text-align: center;
    font-size: 1.2rem;
    line-height: 2.8rem;
    vertical-align: middle;
    margin-right: 1.33rem;
    margin-left: 1rem;
    background-color: #f3f6fc;
    flex-shrink: 0;
}
.linksContainer {
  margin: 0.5rem !important;
}

.childLinks {
  min-height: 70px;

  .title,
  .subtitle {
    display: block;
    line-height: normal;
  }

  .title {
    margin-top: 10px;
  }
}

.childLinks:hover {
  background: $gray-3;
}

/////////////////////////////////////////////////////////////////////////////////////////
/* MENU COMPONENT */
.menu {
  border-bottom: 1px solid $border;
  display: flex;
  flex-direction: row;
  background: $white;
  font-size: rem(15);

  .ant-menu-item, .ant-menu-submenu {
    min-height: 56px;
    padding-top: 10px;
  }

  /////////////////////////////////////////////////////////////////////////////////////////
  /* LOGO */
  .logoContainer {
    height: 48px;
    display: flex;
    align-items: center;
    padding: 0 rem(28);

    .logo {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: rem(24);
      white-space: nowrap;
    }
    .name {
      font-size: rem(20);
      font-weight: 700;
      color: $black;
    }
    .descr {
      margin-left: rem(13);
      padding-left: rem(13);
      height: rem(28);
      line-height: rem(28);
      border-left: 1px solid $gray-2;
      font-size: rem(14);
    }
  }

  /////////////////////////////////////////////////////////////////////////////////////////
  /* ANTD MENU CUSTOMIZATION */
  .navigation {
    flex: 1 1 0%;
    overflow: hidden;
    padding-bottom: 1px;

    .title {
      font-size: rem(15);
    }

    /////////////////////////////////////////////////////////////////////////////////////////
    /* ICON */
    .icon {
      color: $gray-5;
      margin-right: rem(10);
      font-size: rem(17);
      transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      position: relative;
      top: 2px;

      @at-root {
        ::ng-deep {
          .ant-menu-submenu-popup {
            // .icon {
            //   display: none;
            // }
          }
        }
      }
    }

    ::ng-deep {
      .ant-menu-submenu-title {
        color: $text;

        &:hover {
          color: $primary;
        }
      }

      .ant-menu-item {
        outline: none;

        > a,
        > span {
          color: $text;

          &:hover {
            color: $primary;

            .icon {
              color: $primary;
            }
          }
        }
      }

      .ant-menu-horizontal {
        border-bottom: 0;
        background: transparent;
      }

      .ant-menu-submenu-selected {
        .ant-menu-submenu-title,
        .icon {
          color: $primary;
        }
      }

      .ant-menu-submenu-active {
        .icon {
          color: $primary;
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////////////////////////////////
/* GRAY THEME */
.gray {
  background: $gray-1 !important;
}

/////////////////////////////////////////////////////////////////////////////////////////
/* DARK THEME */
.dark {
  color: $dark-gray-1;
  background: $dark-gray-6 !important;
  border-bottom: 1px solid $dark-gray-4;

  .logoContainer {
    .name {
      color: $white;
    }
    .descr {
      color: $dark-gray-2;
      border-left: 1px solid $dark-gray-4;
    }
  }

  .navigation {
    .icon {
      color: $dark-gray-2;
    }
    ::ng-deep {
      .ant-menu-item-group-title {
        color: darken($dark-gray-3, 10%) !important;
      }

      .ant-menu-submenu-title {
        color: $dark-gray-2;

        &:hover {
          color: $primary;
        }
      }

      .ant-menu-item {
        > a {
          color: $dark-gray-2;

          &:hover {
            color: $primary;

            .icon {
              color: $primary;
            }
          }
        }
      }
    }
  }
}
