<div [ngClass]="{
  menu: true,
  white: menuColor === 'white',
  gray: menuColor === 'gray',
  dark: menuColor === 'dark'
}">

  <div class="logoContainer">
    <div class="logo">
      <img src="/assets/resources/images/logo.png" class="pr-3 border-right align-self-center" alt="Logo" />
    </div>
  </div>

  <div class="navigation">
    <ul nz-menu [nzMode]="'horizontal'">
      <ng-container *ngFor="let item of menuDataActivated">
        <ng-container *ngIf="!item.roles || item.roles.includes(role)">
          <!-- disabled item -->
          <li nz-menu-item *ngIf="item.disabled" [nzSelected]="item.selected" [nzDisabled]="true" nz-tooltip
            nzTooltipPlacement="right" [nzTooltipTitle]="isMenuCollapsed && level === 0 ? tooltipTpl : ''">
            <span [ngStyle]="{'padding-left.px': isMenuCollapsed ? '0' : level * 15}">
              <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
              <span class="title">{{item.title}}</span>
              <span *ngIf="item.count" class="badge badge-success ml-2">{{ item.count }}</span>
            </span>
          </li>
          <!-- main item -->
          <li nz-menu-item *ngIf="!item.children && item.url" routerLink={{item.url}} [nzSelected]="item.selected"
            [nzDisabled]="item.disabled" nz-tooltip nzTooltipPlacement="right"
            [nzTooltipTitle]="isMenuCollapsed && level === 0 ? tooltipTpl : ''">
            <span [ngStyle]="{'padding-left.px': isMenuCollapsed ? '0' : level * 15}">
              <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
              <span class="title">{{item.title}}</span>
              <span *ngIf="item.count" class="badge badge-success ml-2">{{ item.count }}</span>
            </span>
          </li>

          <!-- submenu item with recursive template -->
          <!-- test1 -->
          <li nz-submenu [nzPlacement]="bottomLeft" [nzMenuClassName]="item.childrenType ? [item.childrenType, 'myMenu'] : 'myMenu'" *ngIf="item.children">
            <span title>
              <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
              <span class="title">{{item.title}}</span>
            </span>
            <ul>
              <div class="container-fluid linksContainer" *ngIf="item.childrenType === 'mega-menu'">
                <div class="row">
                  <ng-container *ngFor="let item of item.children">
                    <li class="col-md-3 childLinks" nz-menu-item *ngIf="!item.children && item.url" routerLink={{item.url}}
                      [nzSelected]="item.selected" [nzDisabled]="item.disabled">
                      <span>
                        <i *ngIf="item.icon" class="childIcon" [ngClass]="[item.icon, 'icon']"></i>
                        <span class="title">
                          {{item.title}}
                        </span>
                        <span class="text-muted subtitle">View More</span>
                        <span *ngIf="item.count" class="badge badge-success ml-2">{{ item.count }}</span>
                      </span>
                      <!-- level 1-->
                      <li nz-submenu *ngIf="item.children">
                        <span title>
                          <span class="title">{{item.title}}</span>
                          <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
                        </span>
                        <ul>
                          <ng-container *ngFor="let item of item.children">
                            <li nz-menu-item *ngIf="!item.children && item.url" routerLink={{item.url}}
                              [nzSelected]="item.selected" [nzDisabled]="item.disabled">
                              <span>
                                <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
                                <span class="title">{{item.title}}</span>
                                <span *ngIf="item.count" class="badge badge-success ml-2">{{ item.count }}</span>
                              </span>
                              <!-- level 2 -->
                            <li nz-submenu *ngIf="item.children">
                              <span title>
                                <span class="title">{{item.title}}</span>
                                <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
                              </span>
                              <ul>
                                <ng-container *ngFor="let item of item.children">
                                  <li nz-menu-item *ngIf="!item.children && item.url" routerLink={{item.url}}
                                    [nzSelected]="item.selected" [nzDisabled]="item.disabled">
                                    <span>
                                      <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
                                      <span class="title">{{item.title}}</span>
                                      <span *ngIf="item.count" class="badge badge-success ml-2">{{ item.count }}</span>
                                    </span>
                                    <!-- level 3 -->
                                  <li nz-submenu *ngIf="item.children">
                                    <span title>
                                      <span class="title">{{item.title}}</span>
                                      <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
                                    </span>
                                    <ul>
                                      <ng-container *ngFor="let item of item.children">
                                        <li nz-menu-item *ngIf="!item.children && item.url" routerLink={{item.url}}
                                          [nzSelected]="item.selected" [nzDisabled]="item.disabled">
                                          <span>
                                            <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
                                            <span class="title">{{item.title}}</span>
                                            <span *ngIf="item.count"
                                              class="badge badge-success ml-2">{{ item.count }}</span>
                                          </span>
                                        </li>
                                      </ng-container>
                                    </ul>
                                  </li>
                                </ng-container>
                              </ul>
                            </li>
                          </ng-container>
                        </ul>
                      </li>
                  </ng-container>
                </div>
              </div>
              <div class="linksContainer" *ngIf="item.childrenType !== 'mega-menu'">
                <ng-container *ngFor="let item of item.children">
                  <li class="childLinks" nz-menu-item *ngIf="!item.children && item.url" routerLink={{item.url}}
                      [nzSelected]="item.selected" [nzDisabled]="item.disabled">
                      <span>
                        <i *ngIf="item.icon" class="childIcon" [ngClass]="[item.icon, 'icon']"></i>
                        <span class="title">
                          {{item.title}}
                        </span>
                        <span class="text-muted subtitle">View More</span>
                        <span *ngIf="item.count" class="badge badge-success ml-2">{{ item.count }}</span>
                      </span>
                    <!-- level 1-->
                  <li nz-submenu *ngIf="item.children">
                        <span title>
                          <span class="title">{{item.title}}</span>
                          <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
                        </span>
                    <ul>
                      <ng-container *ngFor="let item of item.children">
                        <li nz-menu-item *ngIf="!item.children && item.url" routerLink={{item.url}}
                            [nzSelected]="item.selected" [nzDisabled]="item.disabled">
                              <span>
                                <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
                                <span class="title">{{item.title}}</span>
                                <span *ngIf="item.count" class="badge badge-success ml-2">{{ item.count }}</span>
                              </span>
                          <!-- level 2 -->
                        <li nz-submenu *ngIf="item.children">
                              <span title>
                                <span class="title">{{item.title}}</span>
                                <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
                              </span>
                          <ul>
                            <ng-container *ngFor="let item of item.children">
                              <li nz-menu-item *ngIf="!item.children && item.url" routerLink={{item.url}}
                                  [nzSelected]="item.selected" [nzDisabled]="item.disabled">
                                    <span>
                                      <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
                                      <span class="title">{{item.title}}</span>
                                      <span *ngIf="item.count" class="badge badge-success ml-2">{{ item.count }}</span>
                                    </span>
                                <!-- level 3 -->
                              <li nz-submenu *ngIf="item.children">
                                    <span title>
                                      <span class="title">{{item.title}}</span>
                                      <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
                                    </span>
                                <ul>
                                  <ng-container *ngFor="let item of item.children">
                                    <li nz-menu-item *ngIf="!item.children && item.url" routerLink={{item.url}}
                                        [nzSelected]="item.selected" [nzDisabled]="item.disabled">
                                          <span>
                                            <i *ngIf="item.icon" [ngClass]="[item.icon, 'icon']"></i>
                                            <span class="title">{{item.title}}</span>
                                            <span *ngIf="item.count"
                                                  class="badge badge-success ml-2">{{ item.count }}</span>
                                          </span>
                                    </li>
                                  </ng-container>
                                </ul>
                              </li>
                            </ng-container>
                          </ul>
                        </li>
                      </ng-container>
                    </ul>
                  </li>
                </ng-container>
              </div>
            </ul>
          </li>
          <!-- test1 -->
        </ng-container>
      </ng-container>
    </ul>
  </div>

  <div class="d-flex p-2 mr-4 align-items-center">
    <div class="mr-4 d-none d-sm-block">
      <cui-topbar-language-switcher></cui-topbar-language-switcher>
    </div>
    <div class="mr-4 d-none d-sm-block">
      <div class="d-flex">
        <cui-topbar-actions></cui-topbar-actions>
      </div>
    </div>
    <div class="mr-4 d-none d-sm-block">
      <cui-topbar-fav-pages></cui-topbar-fav-pages>
    </div>
    <div>
      <cui-topbar-user-menu></cui-topbar-user-menu>
    </div>
  </div>
</div>
