<div>
  <div class="row vh-100 justify-content-center align-items-center">
      <div class="col-md-6 vh-100 loginHeaderImage">
          <p style="bottom: 0;left: 2rem;position: absolute;" class="text-white">Copyright © 2020 All rights reserved</p>
      </div>
      <div class="col-md-6">
          <div class="card text-center mx-5">
            <h1>
              <img src="/assets/resources/images/logo.png" class="mr-3 pr-3 border-right align-self-center" alt="Logo" />
              <strong>Sistem Informasi Pengolahan Data</strong>
            </h1>
          </div>
          <div class="card boxContainer mx-5">
            <div class="text-dark font-size-24 mb-4">
              <strong>Reset Password</strong>
            </div>
            <form nz-form [nzLayout]="'vertical'">
              <nz-form-item>
                <nz-form-control nzErrorTip="Please input your email!">
                  <input type="text" nz-input nzSize="large" placeholder="Email Address" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-control>
                  <button nz-button nzType="primary" [nzSize]="'large'" class="text-center w-100">
                    <strong>Reset my password</strong>
                  </button>
                </nz-form-control>
              </nz-form-item>
            </form>
            <a routerLink="/auth/login" class="kit__utils__link font-size-16">
              <i class="fe fe-arrow-left mr-1 align-middle"></i>
              Go to Sign in
            </a>
          </div>
      </div>
</div>
