/* You can add global styles to this file, and also import other style files */
@import 'app/components/kit/vendors/antd/style';
@import 'app/components/kit/vendors/bootstrap/style';
@import 'app/components/kit/vendors/nprogress/style';
@import 'app/components/kit/vendors/chartist/style';
@import 'app/components/kit/vendors/chartist-tooltip-plugin/style';
@import 'app/components/kit/vendors/perfect-scrollbar/style';
@import 'app/components/kit/vendors/nestable/style';
@import 'app/components/kit/vendors/quill/style';

@import 'app/components/kit/core/style'; // Clean UI KIT core styles
@import 'app/components/cleanui/styles/style'; // Clean UI styles

.ant-tabs-bar {
  border: none !important;
}
.ant-tabs-ink-bar, .ant-tabs-ink-bar-animated {
  background-color: transparent !important;
}

// .cdk-overlay-pane {
//   width: 90% !important;
//   margin: 0 auto;
//   position: static;
//   margin-top: 60px;
// }
